body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container-one {
    background-color: black;
}


.top-area {
    width: 100%;
    height: 60px;
    margin: auto;
    border-bottom: solid 1px #282828;
    background-color: black;
}

.top-area a:link,
.top-area a:visited {
    color: white;
    text-decoration: none;
}

.top-area-mid {
    width: 1230px;
    height: 60px;
    margin: auto;
}

.top-area-mid-left {
    width: 390px;
    height: 40px;
    float: left;
    margin: 8px 0;
}

.top-area-mid-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-area-mid-left ul li a {
    float: left;
    font: 100 25px arial, helvetica, serif;
    border-radius: 30px;
    padding: 7px 12px 10px 12px;
    margin: 1px 5px 1px 0;
}

.top-area-mid-right {
    width: 380px;
    height: 40px;
    float: right;
    margin: 8px 0;
}

.top-area-mid-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-area-mid-right ul li a {
    float: right;
    font: 500 14px arial, helvetica, serif;
    margin: 5px 5px;
    padding: 10px 11.6px;
    border-radius: 30px;
}

.top-area-mid-right ul li:hover a {
    background-color: #282828;
}

.top-area-two {
    background-color: #fff;
    border-bottom: solid 1px #E8E8E8;
}

.top-area-two-mid ul {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.top-area-two-mid ul li {
    width: 50px;
    padding: 5px 25px 5px 15px;
    border-right: solid 2px #E8E8E8;
}


.top-area-two-mid li a:link,
.top-area-two-mid li a:visited {
    color: #000;
    font: 600 25px serif;
    padding: 0;
    margin: 10px 0 0 0;
}

.container-two {
    height: 400px;
    width: 1263px;
    margin: 0 auto;
    background-image: url('Images/help/Help-bg-img.jpeg');
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.container-four {
    width: 100%;
    height: 975px;
    background-color: black;
}

.container-two-one {
    width: 650px;
    margin: 0 auto;
    text-align: center;
}

.container-two-one h1 {
    padding: 0;
    font: bold 50px serif;
}

.container-two-two {
    width: 650px;
    margin: 0 auto;
    text-align: center;
}

.container-two-two p {
    font: 18px serif;

}

.boxes {
    width: 100%;
    height: 160px;
    margin-top: 30px;
}

.box {
    width: 110px;
    height: 100px;
    background-color: #fff;
    color: #000;
    float: left;
    margin: 0 15px;
    padding: 30px 20px;
    text-align: center;
}

.box:hover {
    background-color: #f8f7f7;
    line-height: 20px;
}

.box p {
    margin-top: 40px;
    font: 400 20px serif;
}

.box2 p {
    margin-top: 30px;
}

.box4 p {
    margin-top: 30px;
}

.box5 p {
    margin-top: 30px;
}

.box .fa-solid {
    font-size: 30px;
}

/* Footer Area */
.footer-area {
    width: 1150px;
    height: 785px;
    margin: 0 auto;
    padding: 65px 0;
}

.footer-one-area {
    height: 100px;
    width: 100%;
}

.footer-one-area #foot-one-up-area {
    width: 50px;
    height: 20px;
    color: #fff;
    text-decoration: none;
    font: bold 20px helvetica;
    display: block;
    padding: 15px 15px;
    margin-bottom: 25px;
    margin-left: -15px;
    border-radius: 30px;
}

.footer-one-area #foot-one-up-area:hover {
    background-color: #333333;
}

.footer-one-area #foot-one-down-area {
    width: 130px;
    font: 18px serif;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-one-area #foot-one-down-area:hover {
    border-bottom: 1px solid white;
}

.footer-two-area {
    width: 100%;
    height: 300px;
    margin-top: 100px;
}

.footer-two-area h3 {
    color: #fff;
    font: bold 22px serif;
    margin: 0 0 30px 0;
}

.footer-two-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-two-area ul li {
    margin: 17px 0;
}

.footer-two-area ul li a:link,
.footer-two-area ul li a:visited {
    color: #fff;
    text-decoration: none;
    font: 15px serif;
}

.footer-two-area ul li a:hover {
    color: #AFAFAF;
}

.footer-two-area-all {
    width: 287px;
    height: 300px;
    float: left;
}

.footer-two-area-two {
    width: 287.5px;
    height: 300px;
    float: left;
}

.footer-two-area-three {
    width: 287.5px;
    height: 300px;
    float: left;
}

.footer-two-area-four {
    width: 287.5px;
    height: 300px;
    float: left;
}

/* Horizontal Line (GPA last) */
.hr-line {
    height: 1px;
    width: 100%;
    margin-top: 50px;
    background-image: linear-gradient(to right, transparent, #AFAFAF, transparent);
}

.footer-three-area {
    height: 40px;
    width: 100%;
    margin-top: 60px;
}

.footer-three-area-left {
    height: 20px;
    width: 650px;
    float: left;
    margin: 10px 0 0 0;
}

.footer-three-area-left a:link,
.footer-three-area-left a:visited {
    font: 20px serif;
    padding: 15px 20px;
    margin: 0px 50px 0 0px;
    color: #fff;
    transition: all 0.5s;
}

.footer-three-area-left a:first-child {
    margin-left: -14px;
}

.footer-three-area-left a:hover {
    border-radius: 15px;
    background-color: #333333;
}

.footer-three-area-right {
    height: 40px;
    width: 300px;
    float: right;
}

.footer-three-area-right a:link,
.footer-three-area-right a:visited {
    color: white;
    text-decoration: none;
    font: bold 15px serif;
    padding: 11px 20px;
    border-radius: 10px;
    margin: 0px 5px;
    float: right;
    transition: all 0.5s;
}

.footer-three-area-right a:hover {
    background-color: #333333;
}

.footer-four-area {
    height: 40px;
    width: 100%;
    margin-top: 60px;
}

.footer-four-area a {
    height: 100%;
    margin: 0 15px 0 0;
    float: left;
}


.footer-four-area a img {
    width: 100%;
    height: 100%;
    float: left;
}

.footer-five-area {
    height: 40px;
    width: 100%;
    margin-top: 40px;
}

.footer-five-area-left {
    height: 28px;
    width: 400px;
    padding-top: 12px;
    float: left;
}

.footer-five-area-left p {
    color: #AFAFAF;
    font: 15px serif;
}

.footer-five-area-right {
    height: 100%;
    width: 500px;
    float: right;
}


.footer-five-area-right a:link,
.footer-five-area-right a:visited {
    color: #AFAFAF;
    padding: 10px 15px;
    text-decoration: none;
    margin: 1px 0 0 5px;
    border-radius: 10px;
    float: right;
    transition: all 0.5s;
}

.footer-five-area-right a:hover {
    color: #fff;
    background-color: #333333;
}

.footer-six-area {
    height: 40px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.footer-six-area p,
a {
    font: bold 15px serif;
    text-decoration: none;
    padding: 10px 0 0 0;
    color: white;
}

.footer-six-area a:hover {
    text-decoration: underline;
}